/* General Styles */
* {
  font-family: poppins, sans-serif;
  font-size: 16pt;
  margin: 0;
}

/* Button */
.nav-button {
  border: 2px solid black;
}

/* Footer */
.footer-bar {
  bottom: 0;
  display: flex;
  width: 100%;
  position: fixed;
  height: 80px;
  justify-content: space-between;
}
.footer-text {
  padding-top: 35px;
  padding-left: 20px;
  font-weight: 700;
  font-size: 14px !important;
  color: #555555 !important;
}
.footer-logo {
  justify-content: end;
  object-fit: scale-down;
  height: 100px;
  width: 100px;
  margin-right: 20px;
  padding-bottom: 30px;
}

/* Home */
.home-image {
  height: 400px;
  width: 80vw;
  object-fit: fill;
  padding-bottom: 20px;
}
.home-img-container {
  display: flex;
  justify-content: center;
}

/* Header */
.nav {
  justify-content: space-between !important;
  background-color: white;
  width: 100% !important;
  font-weight: 600;
  font-style: normal;
  height: 110px;
  position: sticky;
  z-index: 1;
}
.navlink {
  background-color: white !important;
  display: inline-block !important;
  color: #555555 !important;
  margin-top: 25px;
  text-decoration: none !important;
  font-weight: 800;
  padding-left: 30px;
}
.navlink:hover {
  transform: scale(1.05);
}
.header-navlink-left {
  background-color: white;
  display: flex;
  margin-top: 1rem;
  padding-left: 40px;
  margin-top: 5px;
  max-height: 100px;
}
.header-logo-center {
  margin: 0;
  object-fit: scale-down;
  height: 80%;
  width: 80%;
}
.logo-container {
  margin-left: 190px;
}
.header-navlink-right {
  background-color: white;
  display: flex;
  margin-top: 1rem;
  padding-right: 20px;
  margin-top: 5px;
  max-height: 100px;
}
.sign-in {
  margin-left: 4px;
  margin-right: 10px;
}

/* Slider */
/* .slider-container {
  display: flex;
  padding: 0 55px;
  height: 200px;
}
.slider-container:hover .slide-item {
  transform: translateX(-25%);
}
.slide-item {
  background: green;
  flex: 0 0 19.7%;
  text-align: center;
  margin: 0 2px;
  transition: transform 300ms ease 100ms;
}
.slide-item:hover {
  transform: scale(1.5) !important;
}
.slide-item:hover ~ .slide-item {
  transform: translateX(25%);
} */
