/* General Styles */
* {
	font-family: poppins, sans-serif;
	font-size: 16pt;
	margin: 0;
}
.center-content {
	text-align: center;
}
.title-header {
	padding: 0.5rem;
}
.page-height {
	height: 80vh;
}
.blank-page-height {
	height: 60vh;
}
.icon {
	padding: 0 10px;
}
.icon-pound {
	font-size: xxx-large !important;
}
.icon-hidden {
	visibility: hidden;
}

/* Button */
.nav-button {
	text-align: center;
	border-radius: 10px;
	background-color: #0582cc;
	border: hidden;
	color: #e4b539;
	text-shadow: #000000 10px 10px 20px;
	height: 45px;
	font-weight: 800;
	margin-left: 10px;
	margin-top: 20px;
	z-index: 4;
}
.nav-button:hover {
	transform: scale(1.05);
}
.nav-button:active {
	background-color: #03639b;
	box-shadow: 0 3px #666;
	transform: translateY(4px);
}

/* Footer */
.footer-bar {
	bottom: 0;
	display: flex;
	width: 100%;
	height: 80px;
	justify-content: space-between;
	background-color: white;
	opacity: 75%;
}
.footer-text {
	padding-top: 35px;
	padding-left: 20px;
	font-weight: 700;
	font-size: 14px !important;
	color: #555555 !important;
}
.footer-logo {
	justify-content: end;
	object-fit: scale-down;
	height: 100px;
	width: 100px;
	margin-right: 20px;
	padding-bottom: 30px;
}
.footer-logo:active {
	transform: translateY(4px);
}

/* Form */
.auth-form {
	width: 50vw;
	margin: 0 auto;
}
.form-size {
	width: 90vw;
	margin: 0 auto;
}
.form-validations {
	color: red;
}

/* Home */
.home-image {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 400px;
	width: 100vw;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("./assets/city/city2.avif");
	position: relative;
}
.home-text-h2,
.home-text-h5 {
	font-weight: 600 !important;
	color: white;
	text-shadow: #000000 10px 10px 20px !important;
	text-align: center;
	justify-content: center;
}
.home-text-h2 {
	margin-top: 50px;
	margin: 0;
	font-size: 3rem;
	white-space: wrap;
}
.home-search-bar-container {
	width: 100%;
	display: flex;
	justify-content: center;
}
.home-text-h5 {
	font-size: 135%;
}

/* Header */
.nav {
	justify-content: space-between !important;
	background-color: white;
	width: 100% !important;
	font-weight: 600;
	font-style: normal;
	height: 110px;
	position: sticky;
	z-index: 1;
}
.navlink {
	background-color: hidden !important;
	display: inline-block !important;
	color: #555555 !important;
	margin-top: 25px;
	text-decoration: none !important;
	font-weight: 800;
	font-size: 24px;
	padding-left: 30px;
	z-index: 1;
}
.navlink:hover {
	transform: scale(1.05);
}
.navlink:active {
	transform: translateY(4px);
}
.header-navlink-left {
	background-color: white;
	display: flex;
	margin-top: 5px;
	max-height: 100px;
}
.header-logo-center {
	margin: 0;
	object-fit: scale-down;
	height: 100%;
}
.header-logo-center:active {
	transform: translateY(4px);
}
.logo-container {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin-left: 650px;
	width: 100px;
}
.header-navlink-right {
	background-color: white;
	display: flex;
	padding-right: 20px;
	margin-top: 5px;
	max-height: 100px;
}
.sign-in {
	margin-left: 4px;
	margin-right: 10px;
}

/* Index */
.card {
	/* box-shadow: 1px 1px #696049; */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 2rem;
	padding-bottom: 0.5rem;
	width: 18rem;
}
.card:hover {
	transform: scale(1.05);
	border: 2px outset #0582cc !important;
}
.button-div {
	display: flex;
	justify-content: center;
}
h6 {
	color: #555555 !important;
	font-weight: 700 !important;
	text-align: center;
}
.index-cards-set {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: 20px;
}
.index-profile-image {
	display: flex;
	justify-content: center;
	max-height: 250px;
	overflow: hidden;
	font-weight: 500;
}
.index-apartment-image {
	width: 18rem;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.title-header {
	font-weight: 800;
	color: #555555 !important;
	text-align: center;
}

/* NotFound */
header {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/0b66476b-cefe-45ca-9feb-45dd2ed7665a/b5fd053d-dcae-43cb-af28-29c3e6a7677a.png");
	background-size: cover;
	height: 100vh;
	margin-top: -30px;
}
.not-found-text-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	text-align: center;
	width: 100%;
	z-index: 1;
}
.not-found-h2,
.not-found-h3 {
	font-weight: 800 !important;
	color: #e4b539;
	text-shadow: #000000 10px 10px 20px !important;
}
.not-found-h2 {
	text-transform: uppercase;
	margin: 0;
	font-size: 3rem;
	white-space: wrap;
}
.not-found-h3 {
	font-size: 2rem;
}
.not-found-button {
	border-radius: 10px;
	text-decoration: none;
	color: #e4b539;
	font-weight: 800;
	display: inline-block !important;
	margin-top: 25px;
	text-decoration: none !important;
	text-shadow: #000000 10px 10px 20px !important;
	border: 4px double #e4b539;
	height: 40px;
	width: 90px;
}
.not-found-button:hover {
	transform: scale(1.05);
}
.not-found-button:active {
	transform: translateY(4px);
}

/* Search Bar */
.search-button {
}
.search-button:hover {
	transform: scale(1.05);
}
.search-button:active {
	background-color: #03639b !important;
	box-shadow: 0 3px #666;
	transform: translateY(4px);
}

/* ---SHOW--- */
.show-apartment {
	display: flex;
}
.show-apartment-image {
	width: 50vw;
}
.apartment-details {
	margin: 2rem;
}
.apartment-text-h4 {
	font-weight: 700 !important;
	color: #555555 !important;
}
.apartment-text-p {
	font-weight: 500;
	color: #555555 !important;
}
.icon {
	padding: 0 10px;
}
@media (max-width: 900px) {
	.auth-form {
		width: 80vw;
		margin: 0 auto;
	}
}
@media (max-width: 650px) {
	.auth-form {
		width: 95vw;
		margin: 0 auto;
	}
	.show-apartment-image {
		width: 100%;
	}
	.show-apartment {
		display: block;
	}
}
