.content {
	position: relative;
	height: 37vw;
	margin-top: -40px;
}
.content-background,
.content-background-shadow,
.content-background-image,
.content-area {
	position: absolute;
	top: 0;
	bottom: 0;
}
.content-background-image {
	right: 0;
	width: 70%;
	height: 100%;
	background-position: center 100%;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 1;
}
.content-background {
	left: 0;
	right: 0;
}
.content-background-shadow {
	left: 0;
	background: #fff;
	width: 30%;
	z-index: 2;
}
.content-background-shadow:before {
	content: "";
	position: absolute;
	z-index: 10;
	background-image: linear-gradient(to right, #fff, transparent);
	top: 0;
	bottom: 0;
	left: 100%;
	width: 275px;
}
.content-area {
	left: 0;
	right: 0;
	height: 100%;
	z-index: 3;
}
.content-area-container {
	padding: 30px 70px;
	color: white;
}
.content-title {
	font-size: 45px;
	color: #555555;
	font-weight: 700;
}

.content-description {
	font-size: 18px;
	color: #555555;
	margin-top: 20px;
	max-width: 500px;
}
.content-close {
	color: white;
	width: 40px;
	height: 40px;
	background: transparent;
	outline: none;
	border: none;
	position: absolute;
	top: 35px;
	right: 30px;
}
